.jumbotron {
  padding: 2rem 1rem;
  background-color: aqua;
}
body {
  background-image: url("https://th.bing.com/th/id/OIP.uA-Y1ElOqRbl87cqDJQ6dwHaEu?w=289&h=184&c=7&r=0&o=5&pid=1.7");
  background-color: #aaa3a3;
  background-size: cover;
}
